  .pagination li {margin: 0 5px;}
  .pagination li a{background: #999;color: #fff;border-radius: 50%;}  
  
  .userColor{
display: inline-block;
    margin: 0px 0 0 0px;
    padding: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -1.7px;
    line-height: 50px;
    text-align: center;
    background: none;
}
.profile_color_0 {background-color:#ff868d !important}
.profile_color_1 {background-color:#a1c5ff !important}
.profile_color_2 {background-color:#86af69 !important}
.profile_color_3 {background-color:#5cb7d2 !important}
.profile_color_4 {background-color:#559cde !important}
.profile_color_5 {background-color:#ecc46c !important}
.profile_color_6 {background-color:#ffc0a1 !important}
.profile_color_7 {background-color:#b89ff2 !important}
.profile_color_8 {background-color:#698faf !important}
.profile_color_9 {background-color:#69aeaf !important}
.align-middle{
cursor: pointer;
}
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    width: 320px;
}