/*폰트 적용*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/*라이브러리*/

.con {
    margin-left: auto;
    margin-right: auto;
}

.cell {
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}

.cell .img-box[elevation="1"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.cell .img-box[elevation="2"] {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                  0 1px 10px 0 rgba(0, 0, 0, 0.12),
                  0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.cell .img-box[elevation="3"] {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                  0 1px 18px 0 rgba(0, 0, 0, 0.12),
                  0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.cell .img-box[elevation="4"] {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12),
                  0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.cell .img-box[elevation="5"] {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
                  0  6px 30px 5px rgba(0, 0, 0, 0.12),
                  0  8px 10px -5px rgba(0, 0, 0, 0.4);
}

.cell {
	 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
                  
	cursor: pointer;  
	
	 height: 300px;
	 position: relative;                
}

.cell:hover{
	 box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
                  0  6px 30px 5px rgba(0, 0, 0, 0.12),
                  0  8px 10px -5px rgba(0, 0, 0, 0.4);
}




.img-box > img {
    display: block;
    width: 100%;   
    max-height: 267px;
}


  

/*커스텀*/
html,
body {
    overflow-x: hidden;
}
.con {
    max-width: 1200px;
}
.logo-bar {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bn-box {
    margin-bottom: 20px;
    margin-top: 35px;
}
@media ( max-width:700px ) {
    .top-bn-box-1 {
        overflow-x:hidden;
    }

    .top-bn-box-1 > .img-box {
        margin-left:-50%;
    }
}

.menu-box {
    margin-bottom: 20px;
    margin-top: 20px;
}
.menu-box > ul > li {
    width: calc(100% / 7);
}
@media (max-width: 800px) {
    .menu-box {
        display: none;
    }
}

.menu-box > ul > li > a {
    display: block;
    text-align: center;
    font-weight: bold;
    position: relative;
}
.menu-box > ul > li:hover > a {
    color: red;
    text-decoration: underline;
}
.menu-box > ul > li > a::before,
.menu-box > ul > li > a::after {
    content: "";
    width: 1px;
    height: 13px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 0;
}
.menu-box > ul > li > a::after {
    left: auto;
    right: 0;
}
.menu-box > ul > li:first-child > a::before,
.menu-box > ul > li:last-child > a::after {
    width: 2px;
}
.list > ul > li {
    width: calc(100% / 6);
}

.list > ul > li {
   padding: 15px 10px;
   margin: 20px 22px;
}
.list > ul {
    margin: 0 -10px;
}


.list > ul > li > .product-name {
	margin-top:10px;
    text-align: center;
    font-weight: 400;   
    bottom: 50px;
    text-align: left;
    padding: 15px 5px 5px 5px;    
    font-size: 1.0rem;
    position: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0 auto;
}

.list > ul > li:hover > .product-name {
    text-decoration: underline;
   
}

.list > ul > li > .product-price {
    text-align: center;
    font-weight: 400;
    font-size: 0.9rem;
    position: absolute;
    bottom: 30px; 
    padding: 0 5px;  
    
    overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	width: 180px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.list > ul > li > .product-price2 {
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
    position: absolute;
    bottom: 10px; 
    padding: 0 5px;  
    margin: 0 auto;
        
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	width: 180px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;    
}
.list > ul > li > .product-price::after {

    font-size: 1rem;
    font-weight:normal;
}


@media (max-width: 800px) {
    .list > ul > li {
        width: calc(100% / 5);
    }
}

@media (max-width: 650px) {
    .list > ul > li {
        width: calc(100% / 4);
    }
}

@media (max-width: 500px) {
    .list > ul > li {
        width: calc(100% / 3);
    }
}

@media (max-width: 400px) {
    .list > ul > li {
        width: calc(100% / 1.5);
        left: 10%;
    }
   
   .list.con .title{
       	text-align: center;
   }
   
   .list h3 {   	    
	    text-align: center;	    
   }
   
}

@media (max-width: 300px) {
    .list > ul > li {
        width: calc(100% / 1);
    }
}


.sub-title {
  color:#323232;
  font-size:30px;
  font-weight: bold;  
  padding-left: 10px;
  border-bottom:4px solid #8ed1de;
  margin-bottom: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;  
  width: 95%;
  margin: 0 auto
}
.sub-title h2 {display: inline-block; font-weight: normal}








.add-to-cart .btn-qty {
  width: 52px;
  height: 46px;
}

.add-to-cart .btn { border-radius: 0; }

.image-responsize{
	width:40%;
	max-width:400px;
	height:auto;
}

#product-selection{
	margin:400px;
}

.checked, .price span {
    color: #ff9f1a;
}
.product-title, .price {
    text-transform: UPPERCASE;
    font-weight: bold;
    margin-top: 30px;
}





.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }


.cell-bottom{
 font-size: 0.9rem;	
}
.cell-bottom  .username{
	position: relative;
	padding: 0px 5px;
}

.cell-bottom  .username .likeCnt{
	float: right;
}

.cell-bottom .date-and-view{
  position: relative;
  padding: 0px 5px;
}

.cell-bottom .date-and-view .date{

}
.cell-bottom .date-and-view .board-comments{
	position:absolute;
    top: 0px;
    right: 58px;
}

.cell-bottom .date-and-view .board-view{
	position:absolute;
    top: 0px;
    right: 2px;
}


.list > ul > li.on{
	margin-left: 10px;
}

.list > ul > li.on3{
	margin-right: 10px;
}

.list > ul > li.no-data{
	width:100%;
	text-align: center;	
}




@media all and (max-width:479px) {
	.slick-slider{
		height: 320px;
  	  margin-top: 120px;	
	}
}

