<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="view.road.model.dao.mapper.VisitCounterMapper">



	<insert id="insertVisitor">
		INSERT INTO tbl_visitor ( visitIp, visitRefer, visitAgent) VALUES( #{visitIp}, #{visitRefer}, #{visitAgent})
	</insert>




</mapper>





